<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealHome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B5632A71F76C58E00A5C599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5632BE1F76C58E00A5C599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B5632C91F76C58E00A5C599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
